*{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    position: relative;
    padding: 15px 30px;
    background: linear-gradient(to right,#ff5858,#baf857);
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 2px;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,.25);
    transition: 0.5s;
}
/*a{
    color: white;
    background: #f857a6;
    border-radius: 15px 30px;
    margin: ;
    background: -webkit-linear-gradient(to right,#ff5858,#f857a6);
    background: linear-gradient(to right,#ff5858,#f857a6);
    height: 250px;
    width: 300px;
    background: transparent;
    
    cursor:pointer;
    text-decoration: none;
    
}*/
a:hover{
    background: linear-gradient(to left,#ff5858,#4d4e4a);
    padding: 30px 60px;
    border-radius: 5px;
    font-size: 50px;
}